<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}BPMN E PROCESSOS GERENCIAIS{% endblock %}</title>
    {% block style %}
        <link rel="stylesheet" href="{{ base_assets() }}/dist/style.bundle.css">
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block script %}
    <script src="{{ base_assets() }}/dist/index.bundle.js"></script>
{% endblock %}
</body>
</html>