<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAPEAMENTO DE BPMN</title>
</head>
<body>
<a href="/">voltar</a>
<ul>
    {% for f in files %}
        <li><a href="/index.html?nameFile={{ f.name }}">{{ f.name }}</a></li>
    {% endfor %}
</ul>
</body>
</html>