<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ base_assets() }}/dist/style.bundle.css">
    <title>Hello, world!</title>
    {% block style %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block script %}{% endblock %}
</body>
</html>