{% extends './layout/layout-standard.twig' %}

{% block content %}{{ parent() }}
<div class="container">
    <ul class="list-group mt-3">
        {% for f in files %}
            <li class="list-group-item"><a href="{{ path_for('bpmn', {fileName: f.name}) }}">{{ f.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
