
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Login</title>
    <link href="{{ base_assets() }}/dist/login.bundle.css" rel="stylesheet">
</head>
<body class="text-center">
<form class="form-signin" method="post">
    {% include 'partial/flashMessage.twig' with {'flashMessage': flashMessage} %}
    <img class="mb-4" src="/images/icon-login.png" alt="" width="86" height="86">
    <h1 class="h4 mb-3 font-weight-normal">Informe suas credenciais</h1>
    <label for="inputEmail" class="sr-only">E-mail</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Ok</button>
</form>
</body>
</html>
